* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', 'Arial';
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  font-weight: 400;
}

.background {
  background-image: url('/images/background-flower.png');
  background-size: 790px 697px;
  width: 790px;
  height: 697px;
  background-position: 85px 0px;
  background-repeat: no-repeat;
}

.main-title {
  position: absolute;
  font-size: 70px;
  line-height: 78px;
  text-align: center;
  width: 846px;
  height: 78px;
  top: 220px;
  left: 217px;
}

.products-wrapp {
  list-style: none;
  position: relative;
  width: 1110px;
  height: 1191px;
  margin-top: -310px;
  margin-left: 85px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.card-container {
  width: 340px;
  height: 573px;
  padding: 25px;
  background-color: #f7f7fa;
  box-shadow: 2px 2px 10px 0px #5150761A;
}

.product-category {
  color: #A5A3B9;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
}

.product-image {
  width: 290px;
  height: 245px;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}

.product-description {
  margin-bottom: 15px;
}

.product-compound {
  margin: 5px 0px 25px 15px;
  list-style: circle;
}

.price-container {
  display: flex;
  justify-content: space-between;
}

.price-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
}

.button {
  width: 230px;
  height: 50px;
  margin: 30px 0 30px 30px;
  border-radius: 25px;
  background-color: #f7f7fa;
  box-shadow: 2px 2px 10px 0px #5150761A;
}

.bg-aqua {
  background-color: aqua;
}

.footer {
  width: 1728px;
  height: 477px;
  padding: 85px 75px 28px 84px;
  background-color: #3A3A3A;
}

.wrapp {
  display: flex;
  justify-content: space-between;
  width: 1569px;
  height: 147px;
  margin-bottom: 162px;
}

.footer-label {
  font-weight: 800;
  font-size: 28px;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.footer-text {
  font-size: 18px;
  text-transform: capitalize;
}

.icon-wrapp {
  margin-top: 42px;
  display: flex;
  gap: 30px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.text-color {
  color: #FFFFFF;
  font-size: 18px;
}

.subscribe-label {
  margin-left: 90px;
  margin-bottom: 35px;
  font-size: 24px;
}

.subscribe-wrapp {
  display: flex;
  width: 477px;
  height: 61px;
  border-radius: 10px;
  margin-top: 13px;
}

.vertical-line {
  height: 61px;
  background-color: white;
  font-size: 18px;
  padding-top: 20px;
}

.subscribe-button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #FFFFFF;
  height: 61px;
  width: 160px;
  border: none;
}

#emailInput {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #FFFFFF;
  height: 61px;
  width: 317px;
  border: none;
}

#emailInput::placeholder {
  padding-left: 36px;
}

.nav-label {
  font-weight: 500;
  font-size: 20px;
}

.horizontal-line {
  background-color: #FFFFFF;
  height: 1px;
  width: 66px;
  margin-bottom: 33px;
  margin-left: 150px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 15px;
  padding: 25px;
  padding-top: 0px;
  background-color: aquamarine;
}

.close-modal {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 195px;
  border: none;
  background-color: white;
}

.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background-color: #544e4eb3;
  z-index: 1;
}

.overlay-showed {
  display: block;
}


.modal {
  display: none;
  position: fixed;
  z-index: 2;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-showed {
  display: flex;
}
